<header>
    <p id="headermainfont"> KLIMATYZACJA </p> 
    <hr id="line1"/>
     <p id="nazwafirmy">nazwa firmy</p>
 
 </header>


 
 <div id="wrapper" class="animated once fadeInLeft delay-1s">
   
        <div id="wrappertext">
            <h2> Profesjonalne chłodnie – poznaj naszą ofertę</h2>
            <hr id="line"/>
            <hr id="line"/>
            <p>
                Chłodnia jest to pomieszczenie, które służy do przechowywania produktów w temperaturze niższej niż temperatura otoczenia. Dzięki temu mogą być one magazynowane znacznie dłużej, a przy tym zachowają swoją świeżość. Jeśli chodzi o chłodnictwo w mieście Wrocław, to proponujemy usługi najwyższej jakości. W wielkim uproszczeniu pracę chłodni można byłoby przedstawić jako proces, w którym usuwane jest ciepło z jej pomieszczenia. Jest to możliwe dzięki zastosowaniu czynnika chłodniczego, który absorbuje ciepło z kontenera i oddaję je na zewnątrz.
            </p>
        </div>
        <mat-card class="foto"></mat-card>
</div>

<div id="speacer"></div>
 
<div id="wrapper" class="animated once fadeInRight delay-2s">
        <mat-card class="foto2"></mat-card>
            <div id="wrappertext2">
                <h2> Profesjonalne chłodnie – poznaj naszą ofertę</h2>
                <hr id="line"/>
                <hr id="line"/>
                <p>
                    Chłodnia jest to pomieszczenie, które służy do przechowywania produktów w temperaturze niższej niż temperatura otoczenia. Dzięki temu mogą być one magazynowane znacznie dłużej, a przy tym zachowają swoją świeżość. Jeśli chodzi o chłodnictwo w mieście Wrocław, to proponujemy usługi najwyższej jakości. W wielkim uproszczeniu pracę chłodni można byłoby przedstawić jako proces, w którym usuwane jest ciepło z jej pomieszczenia. Jest to możliwe dzięki zastosowaniu czynnika chłodniczego, który absorbuje ciepło z kontenera i oddaję je na zewnątrz.
                </p>
            </div>
    </div>
    
    <div id="speacer"></div>
    <div id="wrapper" class="animated once fadeInLeft delay-3s">
            
                <div id="wrappertext3">
                    <h2> Profesjonalne chłodnie – poznaj naszą ofertę</h2>
                    <hr id="line"/>
                    <hr id="line"/>
                    <p>
                        Chłodnia jest to pomieszczenie, które służy do przechowywania produktów w temperaturze niższej niż temperatura otoczenia. Dzięki temu mogą być one magazynowane znacznie dłużej, a przy tym zachowają swoją świeżość. Jeśli chodzi o chłodnictwo w mieście Wrocław, to proponujemy usługi najwyższej jakości. W wielkim uproszczeniu pracę chłodni można byłoby przedstawić jako proces, w którym usuwane jest ciepło z jej pomieszczenia. Jest to możliwe dzięki zastosowaniu czynnika chłodniczego, który absorbuje ciepło z kontenera i oddaję je na zewnątrz.
                    </p>
                </div>
                <mat-card class="foto3"></mat-card>
        </div>
        
        <div id="speacer"></div>

<div id="wrapper" class="animated once fadeInRight delay-4s">
        <mat-card class="foto4"></mat-card>
            <div id="wrappertext4">
                <h2> Profesjonalne chłodnie – poznaj naszą ofertę</h2>
                <hr id="line"/>
                <hr id="line"/>
                <p>
                    Chłodnia jest to pomieszczenie, które służy do przechowywania produktów w temperaturze niższej niż temperatura otoczenia. Dzięki temu mogą być one magazynowane znacznie dłużej, a przy tym zachowają swoją świeżość. Jeśli chodzi o chłodnictwo w mieście Wrocław, to proponujemy usługi najwyższej jakości. W wielkim uproszczeniu pracę chłodni można byłoby przedstawić jako proces, w którym usuwane jest ciepło z jej pomieszczenia. Jest to możliwe dzięki zastosowaniu czynnika chłodniczego, który absorbuje ciepło z kontenera i oddaję je na zewnątrz.
                </p>
            </div>
    </div>
    
    <div id="speacer"></div>








 <app-footer></app-footer>
     
