

<div id="gallerywrapper">
<ngx-gallery [options]="galleryOptions"  [images]="galleryImages" id="slider"></ngx-gallery>
</div>

<div id="homewraper">
 
<div id="telephone" class="animated once  flipInX delay-1s">+48 666 666 666 </div>
<div id="thumbs">

<div id="mat-card" class="animated once fadeInLeft delay-1s">
<div id="mat-card-title1" ></div>

 <div id="example-header-image"></div>


<div id="mat-card-content">
  <h3 id="h3title"> KLIMATYZACJE </h3>
  
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab corrupti modi eos id enim omnis quia, accusantium excepturi, tempore molestias commodi repellendus voluptates dicta ut nihil? 
  

  </div>

<button mat-button id="morebutton" routerLink="/klimatyzacje">Więcej!</button>


</div>


<div id="mat-card" class="animated once fadeInDown delay-1s">
<div id="mat-card-title2"></div>

 <div id="example-header-image2"></div>
<div id="mat-card-content">
  <h3 id="h3title"> CHŁODNIE </h3>
  
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab corrupti modi eos id enim omnis quia, accusantium excepturi, tempore molestias commodi repellendus voluptates dicta ut nihil?

  </div>
  <button mat-button id="morebutton" routerLink="/chlodnie">Więcej!</button>



</div>

<div id="mat-card" class="animated once fadeInRight delay-1s">
<div id="mat-card-title3"></div>

 <div id="example-header-image3"></div>
<div id="mat-card-content">
  <h3 id="h3title"> REKUPERACJA </h3>
  
   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab corrupti modi eos id enim omnis quia, accusantium excepturi, tempore molestias commodi repellendus voluptates dicta ut nihil?
  
</div>
  
  <button mat-button id="morebutton" routerLink="/rekuperacja">Więcej!</button>

</div>
</div>


<div id="wrapper-uslugi" class="animated once fadeInLeft delay-2s">
  <div id="wrapper-uslugi1">P.H.U. NAZWA FIRMY</div>
    <hr />
  <div id="wrapper-uslugi2"> OD 19 LAT ZAPEWNIAMY KLIENTOM PROFESJONALNE USŁUGI </div>
</div>

<app-footer></app-footer>

